.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: transparent;
    margin: 8px;
    cursor: pointer;
    position: absolute;
  }
  .nav-button .fa-2x {
    color: #000000;
  }
  .overlay {
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.901);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay .linkNav {
    padding: 8px;
    text-decoration: none;
    color: #d1d1d1;
    display: block;
    font-size: 34px;
    transition: 0.3s;
  }
  .closebtn{
    color: #d1d1d1;
  }
  .overlay .linkNav:hover,
  .overlay .linkNav:focus,
.closebtn:hover,
.closebtn:focus{
    color: #cb0e0e;
  }
  .overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay .linkNav {
      font-size: 28px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media (max-width:450px) {
    .overlay .linkNav {
      font-size: 28px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  