@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
section.registerContainer{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.registerContainer h1{
        color: #C40C0C;
    padding-top: 1%;
    margin: auto;
    font-weight: 600;
    font-size: 48px;
    border-bottom: 3px solid black;
    width: 50%;
}
.brTitle{
  display: none;
}
.containerForm{
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
}
  form.formRegister {
    padding: 35px;
    border-radius: 20px;
    margin-top: 1%;
    width: 100%;
    max-width: 30rem;
    border: 1px solid black;
    background: rgb(200,34,34);
background: radial-gradient(circle, rgba(200,34,34,1) 0%, rgba(235,83,106,1) 0%, rgba(191,16,42,1) 100%);
  }
  
  label.labelRegister,
  input.inputRegister,
  button.btnRegister {
    display: block;
  }
  
  input.inputRegister,
  button.btnRegister {
    width: 100%;
    font: inherit;
    padding: 0.2rem;
    font-weight: 700;
  }
  
  input.inputRegister{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.822);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input.inputRegister:hover,
  input.inputRegister:focus{
    outline: none;
    border-color: #00000090;
    box-shadow: 0 0 0 0.3125rem rgba(255, 255, 255, 0.822);
  }
  
  label.labelRegister {
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 17px;
  }
  
  
  button.btnRegister {
    border: none;
    border-radius: 99px;
    color: white;
    background: #C40C0C;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button.btnRegister:hover,
  button.btnRegister:focus {
    outline: none;
    background: #a30a0a;
  }
  
  button.btnRegister:disabled {
    cursor: not-allowed;
    background: #555b69;
  }
  @media(max-width:736px){
    section.registerContainer h1{
      font-size: 26px;
      width: auto;
}
form.formRegister{
  padding: 20px;
  max-width: 24rem;
}
input.inputRegister:hover,
input.inputRegister:focus{
  outline: none;
  border-color: #00000090;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.822);
}
label.labelRegister{
  margin-bottom: 0.25rem;
}
}
@media(max-width:500px){
  .brTitle{
    display: block;
    
  }
}
@media(max-width:386px){
  form.formRegister{
    padding: 16px;
    max-width: 22rem;
  }
}

