@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.login-form{
    position: relative;
    height: 84.8vh;
    z-index: 0;
    background: #56423d1f;
    justify-content: center;
    display: grid;
    font-family: 'poppins',sans-serif;

    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.containerSign{
    max-width: 800px;
    margin-top: 20%;
}
.login-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-align: center;
}
.login-form .main{
    position: relative;
    display: flex;
}
.contentSign{
    flex-basis: 50%;
    padding: 3em 3em;
    background: #c5c5c5;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: #c40c0c;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    place-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
    border: 4px solid white;
    border-radius: 50%;
}
p.account{
    color: #666;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-align: center;
}
.btn,input.inputSign{
    border-radius: 35px;
}
.btn:hover,
button.btn:hover{
  color: #bebebe;
    transition: 0.5s ease;
}
.link{
    text-decoration: none;
}
.login-form form.formSign{
    margin: 30px 0;
}
.login-form input.inputSign{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f7fafc;
    transition: 0.3s ease;
}
.login-form input.inputSign:focus{
    transition: 0s;
    background-color: #fff;
    border: 2px solid #C40C0C;
}

.login-form button.btn{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #c40c0c;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
.login-form button.btn:hover{
    background:#ae0d0d;
}
p.account .link{
    color: #c40c0c
}
p.account .link:hover{
 text-decoration: underline;
}
@media(max-width:736px){
    .containerSign{
        margin: 2%;
    }
    .login-form .main{
        flex-direction: column;
    }
    .login-form form.formSign{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .contentSign{
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

}